/* VARIABLES */

:root {
  --main-font-family: "Barlow", "Arial", sans-serif;
  --main-text-color: #5b636d;
  --main-bg-color: #fffcf8;
  --main-font-size: 18px;
  --main-font-weight: 600;
  --main-line-height: 32px;
}

@font-face {
  font-family: "Fraunces";
  src: url("../fonts/Fraunces-Black.woff2") format("woff2"),
    url("../fonts/Fraunces-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fraunces";
  src: url("../fonts/Fraunces-Bold.woff2") format("woff2"),
    url("../fonts/Fraunces-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-SemiBold.woff2") format("woff2"),
    url("../fonts/Barlow-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* GENERAL */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  font-weight: var(--main-font-weight);
  line-height: var(--main-line-height);
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

/* VISUALLY-HIDDEN */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container {
  max-width: 1390px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px;
}

.big-container {
  max-width: 1440px;
  margin: 0 auto;
}

/* STICKY-FOOTER */

.site-main {
  flex-grow: 1;
}

/* Header */
.site-header {
  background-color: #4abcf2;
}

.site-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
}

.logo__img {
  width: 124px;
  height: 24px;
}

.sitenav {
  display: none;
}

.navbar-btn {
  display: inline-block;
  width: 24px;
  height: 18px;
  border: none;
  background-color: transparent;
  background-image: url("../images/burger.svg");
}

.navbar {
  position: fixed;
  top: 106px;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
}

.navbar-open {
  display: block;
}

.navbar .sitenav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 329px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 32px;
  background-color: #fffcf8;
  list-style: none;
  animation-name: slide;
  animation-duration: 2s;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.navbar .sitenav__item {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.142857px;
  color: #808397;
}

.navbar .sitenav__item:not(:last-child) {
  margin-bottom: 32px;
}

.navbar .sitenav__link {
  color: inherit;
  text-decoration: none;
}

.navbar .contact-btn {
  padding: 15px 32px;
  font-family: "Fraunces";
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.107143px;
  background-color: #fbd600;
  border-radius: 28px;
  color: #24303e;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.2s ease;
}

.contact-btn:hover {
  color: #fff;
  background-color: #77cdf5;
  transition: 0.2s ease;
}

.hero {
  background-color: #4abcf2;
}

.hero__inner {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding: 56px 24px 136px;
  background-image: url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.hero__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 6.25px;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__title::after {
  display: inline-block;
  margin-top: 52px;
  width: 36px;
  height: 115px;
  content: "";
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

/* Feature */
.feature {
}

.feature__inner {
}

.feature__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.feature__item {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.feature__info {
  padding: 64px 24px;
  text-align: center;
}

.info-feature__title {
  font-family: "Fraunces";
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.228571px;
  color: #24303e;
}

.info-feature__text {
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.128571px;
  color: #808397;
}

.info-feature__link {
  position: relative;
  display: inline-block;
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24303e;
  text-decoration: none;
}

.info-feature__link::after {
  position: absolute;
  left: -9px;
  bottom: 0;
  display: inline-block;
  width: 137px;
  height: 10px;
  content: "";
  background: #fad400;
  opacity: 0.25;
  border-radius: 28px;
}

.link-info-red::after {
  background-color: #fe7766;
}

.feature__img {
  max-width: 100%;
}

.info-fruit {
  padding: 398px 24px 59px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.info-fruit:first-child {
  background-image: url("../images/charry.jpg");
}

.info-fruit:last-child {
  background-image: url("../images/apricot.jpg");
}

.info-fruit__title {
  margin-top: 0;
  margin-bottom: 27px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 35px;
  letter-spacing: -0.2px;
  color: #24554a;
}

.info-fruit__text {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: -0.114286px;
  color: #24554a;
}

@media only screen and (min-width: 375px) {
  .info-feature__title {
    font-size: 32px;
    line-height: 39px;
  }
}

@media only screen and (min-width: 500px) {
  .info-feature {
    max-width: 445px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 70px;
    padding-bottom: 90px;
  }

  .info-fruit {
    max-width: 100%;
    padding: 400px 60px 80px;
  }
}

@media only screen and (min-width: 768px) {
  .sitenav {
    display: flex;
    align-items: center;
  }

  .sitenav__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .sitenav__item {
    line-height: 25px;
    letter-spacing: -0.128571px;
    color: #ffffff;
  }

  .sitenav__item:not(:last-child) {
    margin-right: 47px;
  }

  .sitenav__link {
    color: inherit;
    text-decoration: none;
  }

  .contact-btn {
    padding: 15px 30px;
    font-family: "Fraunces 9pt Soft";
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.107143px;
    color: #24303e;
    background-color: #ffffff;
    border-radius: 28px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .navbar-btn {
    display: none;
  }

  .navbar {
    display: none;
  }

  .hero__inner {
    padding-top: 60px;
    padding-bottom: 200px;
  }

  .hero__title {
    font-size: 45px;
    line-height: 60px;
  }

  .feature__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .feature__item:nth-child(2) {
    flex-direction: row-reverse;
  }

  .feature__info {
    max-width: 300px;
    margin-right: 0;
    padding: 0 30px 0 0;
    text-align: left;
  }

  .feature__item:nth-child(2) .info-feature {
    margin-left: 0;
    margin-right: auto;
    padding-right: 0;
    padding-left: 30px;
  }

  .info-feature__title {
    margin-bottom: 20px;
    font-size: 26px;
    line-height: 32px;
  }

  .info-feature__text {
    margin-bottom: 28px;
    font-size: 16px;
    line-height: 26px;
  }

  .info-feature__link {
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 13px;
    line-height: 22px;
  }

  .feature__img {
    max-width: 50%;
  }

  .info-fruit {
    padding: 398px 24px 59px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .feature__item:last-child {
    align-items: stretch;
  }

  .info-fruit:first-child {
    background-image: url("../images/charry.jpg");
    max-width: 50%;
  }

  .info-fruit:last-child {
    max-width: 50%;
    background-image: url("../images/apricot.jpg");
  }

  .info-fruit__title {
    margin-top: 0;
    margin-bottom: 27px;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: -0.2px;
    color: #24554a;
  }

  .info-fruit__text {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: -0.114286px;
    color: #24554a;
  }

  .info-feature__link::after {
    width: 122px;
  }
}

@media only screen and (min-width: 900px) {
  .hero__inner {
    padding-top: 70px;
    padding-bottom: 250px;
  }

  .feature__info {
    max-width: 400px;
    padding: 0 60px 0 0;
  }

  .feature__item:nth-child(2) .info-feature {
    margin-left: 0;
    margin-right: auto;
    padding-right: 0;
    padding-left: 60px;
  }

  .info-feature__title {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 34px;
  }

  .info-feature__text {
    margin-bottom: 28px;
    font-size: 18px;
    line-height: 27px;
  }

  .info-feature__link {
    font-size: 14px;
  }

  .feature__img {
    max-width: 50%;
  }

  .info-fruit {
    padding: 398px 80px 59px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
  }

  .feature__item:last-child {
    align-items: stretch;
  }

  .info-fruit:first-child {
    background-image: url("../images/charry.jpg");
    max-width: 50%;
  }

  .info-fruit:last-child {
    max-width: 50%;
    background-image: url("../images/apricot.jpg");
  }

  .info-fruit__title {
    margin-top: 0;
    margin-bottom: 27px;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: -0.2px;
    color: #24554a;
  }

  .info-fruit__text {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: -0.114286px;
    color: #24554a;
  }

  .info-feature__link::after {
    width: 128px;
  }
}

@media only screen and (min-width: 992px) {
  .site-header__inner {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .hero__inner {
    padding-top: 70px;
    padding-bottom: 331px;
  }

  .hero__title {
    font-size: 56px;
    line-height: 69px;
  }
}

@media only screen and (min-width: 1100px) {
  .feature__info {
    max-width: 445px;
    margin-right: 70px;
    padding-right: 0;
  }

  .feature__item:nth-child(2) .info-feature {
    margin-left: 70px;
    padding-left: 0;
  }

  .info-feature__title {
    margin-bottom: 32px;
    font-size: 40px;
    line-height: 49px;
  }

  .info-feature__text {
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 30px;
  }

  .info-feature__link {
    font-size: 15px;
  }

  .feature__img {
    max-width: 50%;
  }

  .info-fruit {
    margin: 0;
    padding: 398px 130px 59px;
  }
}

@media only screen and (min-width: 1200px) {
  .feature__info {
    margin-right: 110px;
  }

  .feature__item:nth-child(2) .info-feature {
    margin-left: 110px;
  }
  .info-fruit {
    margin: 0;
    padding: 398px 150px 59px;
  }
}
